<%- include('partials/head')%>
<body>
	<%- include('partials/navbar') %>
	<%- include('partials/flash') %>

<%- include('partials/footer') %>
Here's your account!
<a class="nav-link" href="/account/<%=user_id%>/shoppingcart/">Show Cart</a>
</body>
</html>
