<%- include('partials/head')%>
<body>
	<%- include('partials/navbar') %>
	<%- include('partials/flash') %>
	<h1>Edit Account</h1>
	<div class="container">
		<form action="/account/<%= user._id%>?_method=PUT" method="POST">
			<fieldset>
				<label for="firstName">First Name </label>
				<input type="text" name="firstName" id="firstName" value="<%=user.firstName%>">

				<label for="lastName">Last Name </label>
				<input type="text" name="lastName" id="lastName" value="<%=user.lastName%>">

				<label for="email">Email </label>
				<input type="email" name="email" id="email" value="<%=user.email%>">

				<label for="phoneNumber">Phone Number </label>
				<input type="tel" name="phoneNumber" id="phoneNumber" value="<%=user.phoneNumber%>">
			</fieldset>

			<fieldset id="shippingAddress">
				<h3>Shipping Address</h3>
				<label for="address1">Address Line 1 </label>
				<input type="text" id="address1" name="address1" value="<%=user.shippingAddress.address1%>">

				<label for="address2">Address Line 2 </label>
				<input type="text" id="address2" name="address2" value="<%=user.shippingAddress.address2%>">

				<label for="emirate">Emirate</label>
				<select name="emirate" id="emirate">
				  <option value="Dubai">Dubai</option>
				  <option value="Sharjah">Sharjah</option>
				  <option value="Abu Dhabi">Abu Dhabi</option>
				  <option value="Fujairah">Fujairah</option>
				  <option value="Ajman">Ajman</option>
				  <option value="Umm Al Quwain ">Umm Al Quwain</option>
				  <option value="Ras Al Khaimah">Ras Al Khaimah</option>
				</select>
				
			</fieldset> 
			
			<!-- <fieldset id="paymentDetails">
				Payment Details
				<label for="paymentDetails">Payment Details</label>
			</fieldset> -->
			<button type="submit">Save changes</button>
		</form>
	</div>
<%- include('partials/footer') %>
</body>
</html>
