<%- include('partials/head')%>
<body>
	<%- include('partials/navbar') %>
	<%- include('partials/flash') %>
	<!-- Header -->
	<header>
		<div id="backgroundImage"></div>
		<div id="backgroundImageOverlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-2">
					<h1 class="head">Welcome to JABR Online.</h1>
					<p>Enjoy great deals and a comfortable online shopping experience.</p>
					<a href="/products" class="btn">Shop Now →</a>
				</div>
			</div>
		</div>
		<div id="scrollDown">
			<br>
			<br>
			<p>Or Scroll Down for More</p>
			<i class="arrow down"></i>
		</div>
	</header>

	<!-- Featured Categories -->
	<!-- <div class="categories">
		<div class="small-container">
			<div class="row">
				<div class="col-3">
					<img src="./assets/category-1.jpg" alt="category 1">
				</div>
				<div class="col-3">
					<img src="./assets/category-2.jpg" alt="category 2">
				</div>
				<div class="col-3">
					<img src="./assets/category-3.jpg" alt="category 3">
				</div>
			</div>
		</div>
	</div> -->

	<!-- Featured Products -->
	<!-- Featured Products -->
		<div class="small-container">
			<h2 class="title">Featured Products</h2>

			<% let featuredRow = Math.floor(featuredProducts.length/4) -%>
			<% for (var i=0; i<=featuredRow; i++) { -%>

				<div class="card-group">
				<% if (i!=featuredRow) {var col = 4}
				else {var col = featuredProducts.length%4} -%>

				<% for (var j=0; j<col; j++) { -%>
						<div class="card" style="width: 18rem;">
							<% var idx=(i*4)+j;
							//console.log(i, col, j, idx); -%>
							<img class="product-img" src=<%=featuredProducts[idx].image%> alt="products"/>
							<div class="card-body">
								<h5 class="card-title">
										<a href="/products/<%=featuredProducts[idx]._id%>">
												<%=featuredProducts[idx].name%>
										</a>
								</h5>
								<p class="card-text">
										$<%=featuredProducts[idx].price.toFixed(2)%>
										<% if (featuredProducts[idx].defWeight != "") { -%>
												per <%=featuredProducts[idx].defWeight%>
										<% } -%>
								</p>
								<br>
								<% if(featuredProducts[idx].inStock){ -%>
									<p class="card-text" style="color: rgb(6, 147, 6)">In Stock</p>
								<% }	else { -%>
									<p class="card-text" style="color: rgb(203, 5, 5);">Out Of Stock</p>
									<% } -%>
								<br>
								<p class="card-text">
									Brand: <%= featuredProducts[idx].brand%>
								</p>
							</div>
							<div class="addToCart">
									<form
									<% if (!loggedIn) { -%>
											action="/login" method="GET"
									<% } else { -%>
											action= "/account/<%=user_id%>/shoppingcart/<%=featuredProducts[idx]._id%>" method="POST"
									<% } -%>>
											<button class="block primary" type="submit">Add to Cart</button>
									</form>
							</div>
						</div>
					<% } -%>
					</div>
			<% } -%>

			<h2 class="title">Latest Products</h2>
			<% let latestRow = Math.floor(latestProducts.length/4) -%>
			<% for (var i=0; i<=latestRow; i++) { -%>

				<div class="card-group">
				<% if (i!=latestRow) {var col = 4}
				else {var col = latestProducts.length%4} -%>

				<% for (var j=0; j<col; j++) { -%>
						<div class="card" style="width: 18rem;">
							<% var idx=(i*4)+j;
							//console.log(i, col, j, idx); -%>
							<img class="product-img" src=<%=latestProducts[idx].image%> alt="products"/>
							<div class="card-body">
								<h5 class="card-title">
										<a href="/products/<%=latestProducts[idx]._id%>">
												<%=latestProducts[idx].name%>
										</a>
								</h5>
								<p class="card-text">
										$<%=latestProducts[idx].price.toFixed(2)%>
										<% if (latestProducts[idx].defWeight != "") { -%>
												per <%=latestProducts[idx].defWeight%>
										<% } -%>
								</p>
								<br>
								<% if(latestProducts[idx].inStock){ -%>
									<p class="card-text" style="color: rgb(6, 147, 6)">In Stock</p>
								<% }	else { -%>
									<p class="card-text" style="color: rgb(203, 5, 5);">Out Of Stock</p>
								<% } -%>
								<br>
								<p class="card-text">
									Brand: <%= latestProducts[idx].brand%>
								</p>
							</div>
							<div class="addToCart">
									<form
									<% if (!loggedIn) { -%>
											action="/login" method="GET"
									<% } else { -%>
											action= "/account/<%=user_id%>/shoppingcart/<%=latestProducts[idx]._id%>" method="POST"
									<% } -%>>
											<button class="block primary" type="submit">Add to Cart</button>
									</form>
							</div>
						</div>
					<% } -%>
					</div>
			<% } -%>



		</div>

	<%- include('partials/footer') %>

	<script>
		// change background
		var counter = Math.floor(Math.random() * 4);
		var filePath = "url(/img/background" + counter + ".jpeg)";
				$("#backgroundImage").css({"background-image":filePath});
		var imageShift = setInterval(changeImage, 10000);
		function changeImage(){
			counter++;
			if(counter > 4){
				counter = 0;
			}
			else{
				$("#backgroundImage").fadeOut(1000, function(){
					filePath = "url(/img/background" + counter + ".jpeg)";
					$("#backgroundImage").css({"background-image":filePath});
				});
				$("#backgroundImage").fadeIn(1000);
			}
		}
		$("#scrollDown").click(function(){
			const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
			const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
			scrollTo(0, 1.1*vh);
		});
	</script>
</body>
</html>
