<%- include('partials/head')%>
<%- include('partials/navbar') %>
<body>
    <div class="parallax"></div>
	<h1>Our Entire Store. At Your Fingertips.</h1>
	<div class="small-container">
        <%- include('partials/flash') %>
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default Sorting</option>
                <option>Sort By Price</option>
                <option>Sort By Popularity</option>
                <option>Sort By Ratings</option>
                <option>Sort By Sale</option>
            </select>
        </div>

			 	<% let row = Math.floor(allProducts.length/4) -%>
        <% for (var i=0; i<=row; i++) { -%>
					<div class="card-group">
                        <% if (i!=row) {var col = 4}
						else {var col = allProducts.length%4} -%>
                        <% for (var j=0; j<col; j++) { -%>
							<div class="card" style="width: 18rem;">
								<% var idx=(i*4)+j;
								//console.log(i, col, j, idx); -%>
								<img class="product-img" src=<%=allProducts[idx].image%> alt="products"/>
								<div class="card-body">
                                    <h5 class="card-title">
                                        <a href="/products/<%=allProducts[idx]._id%>">
                                            <%=allProducts[idx].name%>
                                        </a>
                                    </h5>
                                    <p class="card-text">
                                        $<%=allProducts[idx].price.toFixed(2)%>
                                        <% if (allProducts[idx].defWeight != "") { -%>
                                            per <%=allProducts[idx].defWeight%>
                                        <% } -%>
                                    </p>
                                    <br>
                                    <% if(allProducts[idx].inStock){ -%>
                                        <p class="card-text" style="color: rgb(6, 147, 6)">In Stock</p>
                                    <% }	else { -%>
                                        <p class="card-text" style="color: rgb(203, 5, 5);">Out Of Stock</p>
                                    <% } -%>
                                    <br>
								    <p class="card-text">Brand: <%= allProducts[idx].brand%></p>

                                <div class="addToCart">
                                    <form
                                    <% if (!loggedIn) { -%>
                                        action="/login" method="GET"
                                    <% } else { -%>
                                        action= "/account/<%=user_id%>/shoppingcart/<%=allProducts[idx]._id%>" method="POST"
                                    <% } -%>>
                                        <button class="block primary" type="submit">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
							</div>
						<% } -%>
                    </div>
				<% } -%>
        <!-- Navigate the Products -->
				<!-- Should include the page btn stuff inside the row/col/idx logic-->
        <div class="page-btn" style="margin: auto;">
            <span style="margin: 0">1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>→ </span>
        </div>

    </div>
    
    <%- include('partials/footer') %>

    <script>
        var counter = Math.floor(Math.random() * 4);
        $(document).ready(function(){
            filePath = "url(/img/background" + counter + ".jpeg)";
		    $(".parallax").css({"background-image":filePath});
        });
    </script>

</body>
</html>
