<%- include('partials/head')%>
<body class="aboutPage">
	<%- include('partials/navbar') %>
	<div class="row top">
		<div class="col-4">
			<img src=<%=product.image%> alt="products"/>
		</div>
		<!-- <div class="col-4">
			<ul>
				<h1><%= product.name %></h1>
				<li><a href="#reviews">
					<div class="rating">
						<span><i class="fa fa-star"></i></span>
						<span><i class="fa fa-star"></i></span>
						<span><i class="fa fa-star"></i></span>
						<span><i class="fa fa-star-o"></i></span>
						<span><i class="fa fa-star-o"></i></span>
						<span> 81 reviews</span>
					</div>
				</a></li>
				<p>Price: AED <%= product.price %></p>
				<li>Description:<p>This is a great product.</p></li>
				<li>Images:
					<ul class="images">
						<li><button type="button" class="light">
							<img src="/images/p6.jpg" alt="product" class="small">
						</button></li>
						<li><button type="button" class="light">
							<img src="/uploads/1600863487091.jpg" alt="product" class="small">
						</button></li>
					</ul>
				</li>
			</ul>
		</div> -->
		<div class="col-4">
			<div class="card card-body">
				<ul>
					<h1><%= product.name %></h1>
					<!-- <h3>Price: $<%= product.price %></h3>
					<h3>Brand: <%= product.brand %></h3> -->
						<!-- <div class="rating"><span><i class="fa fa-star"></i></span>
							<span><i class="fa fa-star"></i></span>
							<span><i class="fa fa-star"></i></span>
							<span><i class="fa fa-star"></i></span>
							<span><i class="fa fa-star-half-o"></i></span>
							<span> 120 reviews</span>
						</div> -->
					<div class="row">
						<div>Price</div>
						<div>$<%= product.price.toFixed(2)%>
							<% if (product.defWeight != "") { -%>
								per <%=product.defWeight%>
							<% } -%>
						</div>
					</div>
					<div class="row">
						<div>Brand</div>
						<div><%= product.brand%></div>
					</div>
					<div class="row">
						<div>In Stock</div>
						<div><%= product.qtyAvailable %></div>
					</div>
					<form 
					<% if (!loggedIn) { -%>
						action="/login" method="GET"
					<% } else { -%>
						action= "/account/<%=user_id%>/shoppingcart/<%=product._id%>" method="POST"
					<% } -%>>
						<div class="row">
							<div>Qty</div>
							<div>
								<select name="quantity">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
								</select>
							</div>
						</div>
						<button class="block primary" type="submit"> 
							Add to Cart
						</button>
					</form>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
