<%- include('../partials/head')%>
<body>
	<%- include('../partials/navbar') %>
	<%- include('../partials/flash') %>
	<div class="parallax"></div>
	<h1>Hey, <%=user.firstName%>. Just A Few More Things.</h1>
  <div class="small-container" style="display: flex; justify-content: center; align-items: center;">

    <form action="/order/<%=user._id%>/create" method="POST" style="width: 80%; max-width: 100%; display: flex; flex-direction:column; justify-content: center;">
      <div id="first" style="width: 100%; max-width: 100%;">
      <div class="card" style="width: 100%; max-width: 100%;">
        <div class="card-body" style="display: flex; flex-direction: column; justify-content: center;">
          <div class="form-group" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h3>First, Choose How You'll Pay.</h3>
            <div style="padding: 15px 0px; width: 50%; display: flex; justify-content: space-between;">
              <label style="text-align: center;">
                <input type=radio name="paymentMethod" id="card" value="card"  onclick="paymentSelected()"> 
                Credit/Debit Card
              </label>
      
              <label style="text-align: center;">
                <input type=radio name="paymentMethod" id="cash" value="in person"  onclick="paymentSelected()">
                Cash on Delivery
              </label>

            </div>
          </div>

          <div class="form-group" id="paymentDetails" style="display:none">
            <div class="card" style="width: 80%; max-width: 100%; margin: auto;">
              <div class="card-body">
                <p>Payment Details</p>
                <br>
              <label for="cardName">Credit Card</label>
              <input class="form-control" type="text" id="cardName" name="paymentDetails[cardName]"
              <% if (user.paymentDetails.cardName) { -%>
                value="<%=user.paymentDetails.cardName%>"
              <% } %>
              >

              <label for="cardNumber">Credit Card</label>
              <input class="form-control" type="text" id="cardNumber" name="paymentDetails[cardNumber]"
              <% if (user.paymentDetails.cardNumber) { -%>
                value="<%=user.paymentDetails.cardNumber%>"
              <% } %>
              >
              <label for="expiryDate">Expiry Date </label>
              <input class="form-control" type="month" id="expiryDate" name="paymentDetails[expiryDate]" value="<%=user.stringExpiryDate%>" style="max-width: 170px;" 
              <% let today = new Date();
                let year = today.getFullYear()
                let month = today.getMonth()
                if(month < 10)
                  month = "0" + parseInt(month + 1)
                let minimum = `${year}-${month}`
              %>
              min="<%=minimum%>">
    
              <label for="cvv">CVV </label>
              <input class="form-control" type="password" id="cvv" name="paymentDetails[CVV]" style="width: 50px;">
    
              <label style="text-align: center;">
                Save This Credit Card
                <input type=checkbox id="save-card" name="options[save_card]" checked> 
              </LABEL>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div id="next" style="width: 100%; max-width: 100%; display: none;">
        <div  class="card" style="width: 100%; max-width: 100%;">
          <div class="card-body">
            <div class="form-group" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
              <h3>Next, Tell Us How You Want It.</h3>
              <div style="padding: 15px 0px; width: 50%; display: flex; justify-content: space-between;">
                <label style="text-align: center;">
                  <input TYPE=radio NAME="orderType" id="delivery" VALUE="delivery" onclick="prefSelected()"> 
                  Delivered to My Door!
                </label>
                <label style="text-align: center;">
                  <input TYPE=radio NAME="orderType" id="pickup" VALUE="pickup" onclick="prefSelected()"> 
                  I'll Come Pick it Up!
                </label>
              </div>
            </div>
    
            <div class="form-group" id="shippingAddress" style="display:none">
              <div class="card" style="width: 80%; max-width: 100%; margin: auto;">
                <div class="card-body">
                  <p>Shipping Address</p>
                  <br>
                  <label for="address1">Address Line 1 </label>
                  <input class="form-control" type="text" id="address1" name="shippingAddress[address1]" value="<%=user.shippingAddress.address1%>">
          
                  <label for="address2">Address Line 2 </label>
                  <input class="form-control" type="text" id="address2" name="shippingAddress[address2]" value="<%=user.shippingAddress.address2%>">
          
                  <label for="emirate">Emirate</label>
                  <select class="form-control" name="shippingAddress[emirate]" id="emirate">
                    <% for (let emirate of emirates) { -%>
                      <option value="<%=emirate%>"
                        <%= user.shippingAddress.emirate === emirate ? 'selected': ''%>
                        ><%=emirate%></option>
                    <% } -%>
                  </select>
          
                  <label>
                    Save This Shipping Address
                    <input TYPE=checkbox id="save-address" NAME="options[save_address]" checked> 
                  </label>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="then" style="width: 100%; max-width: 100%; display: none;">
          <div class="card" style="width: 100%; max-width: 100%;">
            <div class="card-body">
              <div class="form-group" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <h3>Then, Opt in for Updates.</h3>
                <div style="padding: 15px 0px; width: 50%; display: flex; justify-content: space-between;">
                  <label>
                    Receipt, Please!
                    <br>
                    <input id="receipt" TYPE=checkbox NAME="sendReceipt" VALUE='true' onclick="prefReceipt()"> 
                  </label>
                  <label>
                    I'm Okay, Thanks.
                    <br>
                    <input id="imagood" TYPE=checkbox VALUE='true' onclick="prefReceipt()"> 
                  </label>
                </div>

              </div>
            </div>
          </div>
      </div>
    </div>
        

      <input type="hidden" name="options[random]" value="random">
      
    <% if (orderid) { -%>
      <input type="hidden" name="options[order_id]" value="<%=orderid%>">
    <% } -%>
    
    <button id="finally" class="block primary" type="submit" style="margin: 10px 0; display: none;">
      <h3>And Finally, You're All Good to Go.</h3>
    </button>
  </form>
  </div>

	<%- include('../partials/footer') %>
	<script>
		var counter = Math.floor(Math.random() * 4);
		$(document).ready(function(){
			filePath = "url(/img/background" + counter + ".jpeg)";
			$(".parallax").css({"background-image":filePath});
		});
	</script>
  <script type="text/javascript" src="/js/checkoutLogic.js"></script>
</body>
</html>
