<%- include('../partials/head')%>
<body>
	<% for (let order of user.orders) { -%>
		<p><%=order.totalPrice%></p>
		<p><%=order.orderType%></p>
		<% for (let item of order.products) { -%>
			<p><%=item.product.name%></p>
			<p><%=item.product.price%></p>
			<p><%=item.quantity%></p>
		<% } -%>
		
	<% } -%>

</body>
</html>