<%- include('../partials/head')%>
<body>
	<%- include('../partials/navbar') %>
	<%- include('../partials/flash') %>
	<div class="parallax"></div>
	<h1>Hey, <%=user.firstName%>. Just A Few More Things.</h1>
  <div class="small-container">

    <form action="/order/<%=user._id%>" method="POST">

      <div class="form-group">
        <p>Please indicate your method of payment:</p>

        <label>
          <input type=radio name="paymentMethod" id="card" value="card" onclick="paymentSelected()"> 
          Credit card
        </label>

        <label>
          <input type=radio name="paymentMethod" value="in person" onclick="paymentSelected()">
          Pay in person 
        </label>
      </div>

      <div class="form-group" id="paymentDetails" style="display:none">
        <p>Payment Details</p>
        <label for="cardNumber">Credit Card</label>
        <input class="form-control" type="text" id="cardNumber" name="paymentDetails[cardNumber]"
        <% if (user.paymentDetails.cardNumber) { -%>
          value="<%=user.paymentDetails.cardNumber%>"
        <% } %>
        >
        <label for="expiryDate">Expiry Date </label>
        <input class="form-control" type="month" id="expiryDate" name="paymentDetails[expiryDate]" value="<%=user.stringExpiryDate%>" >

        <label for="cvv">CVV </label>
        <input class="form-control" type="password" id="cvv" name="paymentDetails[CVV]">

        <label>
          Save this credit card to my account
          <input TYPE=checkbox NAME="options[save_card]" checked> 
        </LABEL>
      </div>

      <div class="form-group">
        <p>Please indicate your preference:</p>
        <label>
          <input TYPE=radio NAME="orderType" ID="delivery" VALUE="delivery" onclick="prefSelected()"> 
          Delivery
        </label>
        <label>
          <input TYPE=radio NAME="orderType" VALUE="pickup" onclick="prefSelected()"> 
          Pick Up
        </label>
      </div>

      <div class="form-group" id="shippingAddress" style="display:none">
        <p>Shipping Address</p>
        <label for="address1">Address Line 1 </label>
        <input class="form-control" type="text" id="address1" name="shippingAddress[address1]" value="<%=user.shippingAddress.address1%>">

        <label for="address2">Address Line 2 </label>
        <input class="form-control" type="text" id="address2" name="shippingAddress[address2]" value="<%=user.shippingAddress.address2%>">

        <label for="emirate">Emirate</label>
        <select class="form-control" name="shippingAddress[emirate]" id="emirate">
          <% for (let emirate of emirates) { -%>
            <option value="<%=emirate%>"
              <%= user.shippingAddress.emirate === emirate ? 'selected': ''%>
              ><%=emirate%></option>
          <% } -%>
        </select>

        <label>
          Save this shipping address to my account
          <input TYPE=checkbox NAME="options[save_address]" checked> 
        </label>
      </div>

    <div class="form-group">
      <label>
        Send receipt by e-mail
        <input TYPE=checkbox NAME="sendReceipt" VALUE='true' checked> 
      </LABEL>
    </div>
 
    <button class="block primary" type="submit">
      Check Out
    </button>


  </div>

	<%- include('../partials/footer') %>
	<script>
		var counter = Math.floor(Math.random() * 4);
		$(document).ready(function(){
			filePath = "url(/img/background" + counter + ".jpeg)";
			$(".parallax").css({"background-image":filePath});
		});

    function paymentSelected() {
      var card = document.getElementById("card");
      var form = document.getElementById("paymentDetails");

      // If the checkbox is checked, display the output text
      if (card.checked == true){
        form.style.display = "block";
      } else {
        form.style.display = "none";
      }
    }

    function prefSelected() {
      var delivery = document.getElementById("delivery");
      var form = document.getElementById("shippingAddress");

      // If the checkbox is checked, display the output text
      if (delivery.checked == true){
        form.style.display = "block";
      } else {
        form.style.display = "none";
      }
    }
	</script>
