<%- include('../partials/head')%>
<%- include('../partials/navbar') %>
<body>
    <div class="parallax"></div>
	<h1>Our Entire Store. At Your Fingertips.</h1>
	<div class="small-container">
        <%- include('../partials/flash') %>
        <div class="row row-2">
            <h2>All Products</h2>
            <form action="/products" method="GET">
              <% if (q) { -%>
                 <input type="hidden" name="q" value="<%=q%>">
              <% } -%>
              <% if (d) { -%>
                  <input type="hidden" name="d" value="<%=d%>">
               <% } -%>
              <select name="sort" onchange="this.form.submit()">
                <% switch(s){
              			case "last": -%>
                      <option value="default">Default Sorting</option>
                      <option value="last" selected>Last Updated</option>
                      <option value="priceHigh">Price: High to Low</option>
                      <option value="priceLow">Price: Low to High</option>
                    <%  break;
              			case "priceHigh": -%>
                      <option value="default">Default Sorting</option>
                      <option value="last">Last Updated</option>
                      <option value="priceHigh" selected>Price: High to Low</option>
                      <option value="priceLow">Price: Low to High</option>
                    <%  break;
              			case "priceLow": -%>
                      <option value="default">Default Sorting</option>
                      <option value="last">Last Updated</option>
                      <option value="priceHigh">Price: High to Low</option>
                      <option value="priceLow" selected>Price: Low to High</option>
                    <%  break;
                    default: -%>
                      <option value="default" selected>Default Sorting</option>
                      <option value="last">Last Updated</option>
                      <option value="priceHigh">Price: High to Low</option>
                      <option value="priceLow">Price: Low to High</option>
                    <%  break;
              	   } -%>
                </select>
            </form>
        </div>

        <%- include('../partials/productTile', {products: allProducts}); %>

        <!-- Navigate the Products -->
				<!-- Should include the page btn stuff inside the row/col/idx logic-->
        <!-- <div class="page-btn" style="margin: auto;">
            <span style="margin: 0">1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>→ </span>
        </div> -->
    </div>

    <%- include('../partials/footer') %>

    <script>
        var counter = Math.floor(Math.random() * 4);
        $(document).ready(function(){
            filePath = "url(/img/background" + counter + ".jpeg)";
		    $(".parallax").css({"background-image":filePath});
        });
    </script>

</body>
</html>
