<%- include('../partials/head')%>
<body class="aboutPage">
	<%- include('../partials/navbar') %>
	<div class="parallax"></div>
	<h1>Only The Best. All For You.</h1>
	<div class="small-container">
		<div class="row top">
			<div class="productDescImg showProd">
				<img src=<%=product.image%> alt="products"/>
			</div>
				<div class="card card-body">
					<ul>
						<h3><%= product.name %></h3>
						<div class="productDescRow">
							<div>Price</div>
							<div>AED <%= product.price.toFixed(2)%>
								<% if (product.defWeight != "") { -%>
									per <%=product.defWeight%>
								<% } -%>
							</div>
						</div>
						<div class="productDescRow">
							<div>Brand</div>
							<div><%= product.brand%></div>
						</div>
						<div class="productDescRow">
							<% if(product.inStock){ -%>
								<p class="card-text" style="color: rgb(6, 147, 6)">In Stock</p>
								<div><%= product.qtyAvailable %></div>
							<% }	else { -%>
								<p class="card-text" style="color: rgb(203, 5, 5);">Out Of Stock</p>
							<% } -%>
						</div>
						<form
						<% if (!loggedIn) { -%>
							action="/login" method="GET"
						<% } else { -%>
							action= "/account/<%=user_id%>/shoppingcart/<%=product._id%>" method="POST"
						<% } -%>>

						<% if (!(product.qtyAvailable > 0)) { -%>
							<div class="productDescRow" style="display: none">
							<% }	else { -%>
							<div class="productDescRow">
							<% } -%>
								<div>Qty</div>
								<div>
									<input type="number" name="quantity" min="1" max="<%=product.qtyAvailable%>" step="1" size="3" style="margin-left: 3px; text-align: center; width: 50%; min-width: 50px; display: inline-block;"
										<% if(!product.inStock){ -%>
											disabled
										<% } -%>
										>
								</div>
							</div>
							<% if (!(product.qtyAvailable > 0)) { -%>
							<div class="addToCart" style="display: none">
							<% }	else { -%>
							<div class="addToCart">
							<% } -%>
								<button class="block primary" type="submit"
								<% if(!product.inStock){ -%>
											disabled
										<% } -%>>
									Add to Cart
								</button>
							</div>

						</form>
					</ul>
				</div>
			</div>
	</div>
	<%- include('../partials/footer') %>
	<script>
        var counter = Math.floor(Math.random() * 4);
        $(document).ready(function(){
            filePath = "url(/img/background" + counter + ".jpeg)";
		    $(".parallax").css({"background-image":filePath});
        });
    </script>
</body>
</html>
